@font-face {
    font-family: "hundo";
    src: url("fonts/hundo.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "unsans";
    src: url("fonts/unsans.otf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "vampirewars";
    src: url("fonts/vampirewars.otf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "karaoke";
    src: url("fonts/karaoke.ttf") format("truetype");
    font-weight: bold;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(5px); }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    box-shadow:
      0 0 5px transparent;
  }
  50% {
    transform: scale(1.1);
    box-shadow: transparent;
  }
}

body {
    background-color: rgba(12, 12, 12, 0.507);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #000000c4;
    padding: 20px;
    text-align: center;
    justify-content: center; 
}

.header h1 {
    color: #ffffffd8;
    width: 43%; /* Mantém a largura definida */
    text-shadow: 1.3px 1.3px 3px #ffffff;
    text-align: center; /* Centraliza o texto DENTRO do h1 */
    font-family: "unsans", sans-serif;
    font-size: 3.1em;
    border-radius: 8px;
    margin: 0 auto; /* ISSO VAI CENTRALIZAR O H1 HORIZONTALMENTE */
}
span {
    color: #ff5100ec;
    text-shadow: 2px 2px 2px #414141;
    font-family: "hundo", sans-serif;
    font-size: 1.3em;
    border-radius: 8px;
}

.lista ul {
    display: flex;
    justify-content: center;
    padding: 0;
    font-family: "karaoke", sans-serif;
    font-size: 1.5em;
    color: #ffffffd8;
    background-color: ;
}

.lista ul li {
    display: inline;
    margin-right: 20px;
    font-family: "karaoke", sans-serif;
}

.lista ul li a {
  text-decoration: none;
  color: #ffffffd8;
  font-family: "karaoke", sans-serif;
  font-size: 0.8em;
  text-align: center; 
  display: inline-block;
  list-style-type: none;
  border-radius: 7px;
  padding: 8px;
}

.lista ul li a:hover {
  animation: pulse 3s; /* animação pulsando enquanto hover */
  color:#ffffffec;
  background-color: #f16a2c6b;
}

footer {
    background-color: #000000c4;
    color: #ffffffd8;
    text-align: center;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: "Arial", sans-serif;
}